<div id="body">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-4">
                <div class="card1">
                    <div class="face face1">
                        <div class="content">
                            <img
                                src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                            <h3>Ön İnceleme</h3>
                        </div>
                    </div>

                    <div class="face face2">
                        <div class="content">
                            <p>
                                Arafopia mobili keşfetmek için youtube'da yayınladığımız videomuzu izleyin!
                            </p>
                            <a href="https://youtu.be/vyM0_AUeoEE">Youtube'da İzle</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card1">
                    <div class="face face1">
                        <div class="content">
                            <img
                                src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                            <h3>Yükleme Detayları</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>
                                Telefonunuzun ayarlar kısmından "Bilinmeyen uygulamaları yükle" özelliğini açmanız gerekmektedir.
                                <br />
                                Yükleme esnasında "Play Protect Tarafından Engellendi" uyarısı görürseniz, devam etmek için "YİNE DE YÜKLE" butonuna tıklayınız.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card1">
                    <div class="face face1">
                        <div class="content">
                            <img
                                src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                            <h3>Uygulamayı Edin</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>
                                Şiir ve yazılar hep cebinizde olsun, dilediğiniz zaman edebi ruhunuzu
                                iyileştirin! Arafopia mobil ile yeni içerik yüklendiğinde
                                uygulama üzerinden bildirim alabilirsiniz. Daha fazlası için uygulamamızı edinin.
                            </p>
                            <a href="https://api.arafopia.net/doc/arafopia.apk">İndir: arafopia.apk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>