<div class="card">
    <div class="d-flex justify-content-center">
        <div class="search" style="background-color: #fff;">
            <input type="text" id="searchString" class="search-input" placeholder="Şiir, Yazı veya Ünlü Şair Ara...">
        </div>
    </div>
    
    <div class="btn-group" role="group" aria-label="Arama Butonları">
        <button type="button" class="btn btn-primary" onClick="searchPoetries()">
            <i class="fa fa-pen"></i>
        </button>
        <button type="button" class="btn btn-primary" onClick="searchProses()">
            <i class="fa fa-book"></i>
        </button>
        <button type="button" class="btn btn-primary" onClick="searchFamousAuthors()">
            <i class="fa fa-user"></i>
        </button>
    </div>
</div>