<div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
    <div class="input-group">
        <input class="form-control border-light h-100" type="text" id="searchString" name="searchString"
            style="padding: 30px 25px;" placeholder="Şiir, Yazı veya Şair Ara.." autofocus="autofocus" />
        <div class="input-group-append dropdown">
            <a class="btn btn-secondary px-lg-2 pt-4 h-100 w-100" onClick="searchPoetries()">Şiir</a>
            <a class="btn btn-secondary px-lg-2 pt-4 h-100 w-100" onClick="searchProses()">Yazı</a>
            <a class="btn btn-secondary px-lg-2 pt-4 h-100 w-100" onClick="searchFamousAuthors()">Ünlü
                Şair</a>
        </div>
    </div>
</div>