<div class="container-fluid mt-5 mb-5 d-flex flex-column">
    <div class="row h-100 justify-content-center align-items-center flex-grow-1">
        <div class="col-md-8">
            <app-user-card [user]="user"></app-user-card>
        </div>
    </div>
    <div class="row h-100 justify-content-center align-items-center flex-grow-1">
        <div class="col-md-4">
            <div class="container mt-4">
                <h2 class="text-primary">Parçalar</h2>
                <p class="text-muted">
                    Takımlar tarafından üretilebilecek parçalar.
                </p>
            </div>
            <app-pieces-table [data]="pieces">

            </app-pieces-table>
        </div>
        <div class="col-lg-4">
            <div class="container mt-4">
                <h2 class="text-primary">IHA'lar</h2>
                <p class="text-muted">
                    Takımlar tarafından üretilebilecek IHA'lar.
                </p>
            </div>
            <app-airplanes-table [data]="airplanes">
            </app-airplanes-table>
        </div>
    </div>
</div>