<div class="row mb-3 search-container">
    <div class="input-group">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
        <input type="text" [(ngModel)]="filterTextForModel" placeholder="Search by model name" class="form-control" />
    </div>
</div>

<span class="badge text-bg-secondary">Available Stock: {{stock}}</span>
<span class="badge text-bg-secondary" style="margin-left: 5px;">Total: {{total}}</span>
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Piece</th>
            <th scope="col" class="text-center">Model</th>
            <th scope="col" class="text-center">Produced Date</th>
            <th scope="col" class="text-center">Team</th>
            <th scope="col" class="text-center">Status</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producedPiece of data | filterByProducedPiece:filterTextForModel; let i = index">
            <th scope="row" class="text-center">{{ producedPiece.id }}</th>
            <td class="text-center">
                <div class="d-flex flex-column align-items-start">
                    <select [(ngModel)]="producedPiece.piece" class="form-select me-2">
                        <option *ngFor="let piece of pieces" [ngValue]="piece">
                            {{ piece.name }}
                        </option>
                    </select>
                    <span class="badge text-bg-light mt-2"> Selected: {{producedPiece.piece.name}}</span>
                </div>
            </td>
            <td class="text-center">
                <div class="d-flex flex-column align-items-start">
                    <select [(ngModel)]="producedPiece.airplane" class="form-select me-2">
                        <option *ngFor="let airplane of airplanes" [ngValue]="airplane">
                            {{ airplane.name }}
                        </option>
                    </select>
                    <span class="badge text-bg-light mt-2"> Selected: {{ producedPiece.airplane?.name }}</span>
                </div>
            </td>
            <td class="text-center">
                <input type="date" [(ngModel)]="producedPiece.producedDate" class="form-control" />
            </td>
            <td class="text-center">
                {{ producedPiece.team.name }}
            </td>
            <td class="text-center">
                <ng-container *ngIf="producedPiece.status; else notAvailable">
                    <i class="bi bi-check-circle text-success" aria-hidden="true"></i>
                </ng-container>
                <ng-template #notAvailable>
                    <i class="bi bi-x-circle text-danger" aria-hidden="true"></i>
                </ng-template>
            </td>
            <td class="text-center">
                <button (click)="updatePiece(producedPiece)" class="btn btn-primary">
                    <i class="bi bi-arrow-repeat"></i>
                </button>
                <button (click)="deletePiece(producedPiece.id)" class="btn btn-danger ms-2">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>