<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-uppercase mb-4" style="font-weight: bold;">Hakkımızda</h5>
                <p class="small">
                    1986’dan bu yana Türkiye’nin teknolojik olarak bağımsızlaşması amacıyla yerli ve milli üretimden
                    yana çalışan Baykar, geçtiğimiz yıllar içinde Türkiye’de savunma ve havacılık alanında dönüşüm
                    yaratacak bir ivmenin öncüsü haline geldi. Bugün Baykar olarak, otomotiv endüstrisi için adım
                    attığımız mühendislik girişimimizi yeni kuşak mühendislerimizle gökyüzüne taşıyarak dünyanın sayılı
                    insansız hava aracı üreticilerinden biri olmanın gururunu taşıyoruz. Türkiye’nin ilk yerli ve milli
                    İnsansız Hava Araçlarını üretirken en önemli motivasyonumuz her zaman kendi mühendislerimize ve
                    beyin gücümüze güvenmek oldu.
                </p>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-uppercase mb-4" style="font-weight: bold;">Bağlantılar</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="https://baykartech.com/tr/vizyon/"
                            class="text-white text-decoration-none">Vizyon</a></li>
                    <li class="mb-2"><a href="https://baykartech.com/tr/tarihce/"
                            class="text-white text-decoration-none">Tarihçe</a></li>
                    <li class="mb-2"><a href="https://baykartech.com/tr/teknolojik-yetkinlikler-kabiliyetler/"
                            class="text-white text-decoration-none">Teknolojik
                            Yetkinlikler/Kabiliyetler</a></li>
                    <li><a href="https://baykartech.com/tr/about/socialresponsibility/"
                            class="text-white text-decoration-none">Sosyal Sorumluluk</a></li>
                    <li class="mb-2"><a href="https://baykartech.com/tr/ozdemir-bayraktar/"
                            class="text-white text-decoration-none">Özdemir Bayraktar</a></li>
                    <li class="mb-2"><a href="https://baykartech.com/tr/haluk-bayraktar/"
                            class="text-white text-decoration-none">Haluk Bayraktar</a></li>
                    <li class="mb-2"><a href="https://baykartech.com/tr/selcuk-bayraktar/"
                            class="text-white text-decoration-none">Selçuk Bayraktar</a></li>
                    <li><a href="https://baykartech.com/tr/contact/tedarikci-basvurusu/"
                            class="text-white text-decoration-none">Tedarikçi Başvurusu</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12 mb-4">
                <h5 class="text-uppercase mb-4" style="font-weight: bold;">İletişim</h5>
                <p class="small">
                    <strong>Adres:</strong> Baykar Milli S/İHA Sistemleri Ar-Ge ve Üretim Tesisi <br>
                    <strong>Telefon:</strong> +90 (212) 867 09 00 (08:00-18:00) <br>
                </p>
                <div class="mt-3">
                    <a href="https://www.facebook.com/BaykarTech" class="text-white me-3"><i
                            class="bi bi-facebook"></i></a>
                    <a href="https://twitter.com/x/migrate?tok=7b2265223a222f4261796b617254656368222c2274223a313733303731343930347dcf8e82e3842b200c77ab128c4ef20ed8"
                        class="text-white me-3"><i class="bi bi-x"></i></a>
                    <a href="https://www.instagram.com/baykartech/" class="text-white"><i
                            class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center py-3 bg-secondary" style="font-size: 0.9rem;">
        © 2024 Tüm Hakları Saklıdır: <a class="text-white text-decoration-none" href="#">baykar.com</a>
    </div>
</footer>